################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/wantsome/FileContentIndex/5db5aa98-3b09-44d1-9c72-e2ad0f6c9603.vsidx
/.vs/wantsome/FileContentIndex/fe5a0e4f-7ad0-4b9a-aa8d-28ea2a33932c.vsidx
/.vs/wantsome/v17
/.vs/wantsome/FileContentIndex
/.vs
/EFCorePractice/.vs/EFCorePractice/v17/.suo
/EFCorePractice/.vs/EFCorePractice/v17/DocumentLayout.json
